/* General styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    color: #444;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

.hidden {
    display: none;
}

/* Input styles */
input[type="text"] {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Button styles */
button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #e55d50;
    transform: translateY(-2px);
}

/* Result styles */
#result img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#result h2 {
    font-size: 1.8em;
    margin-top: 20px;
}

#result p {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Reminder paragraph styles */
.reminder {
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    button {
        width: 90%;
        padding: 15px;
        margin: 5px;
    }
    input[type="text"] {
        width: 90%;
    }
    #result h2 {
        font-size: 1.5em;
    }
    #result p {
        font-size: 1em;
    }
}



footer {
    text-align: center;
    padding: auto;
    color: rgb(0, 0, 0);
    background-color: transparent; /* Background color for visibility */
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #0056b3; /* Darker color on hover */
  }